<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="EntryDateCopier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Exceptions" publicKeyToken="719b7518b4500859" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.4.1.0" newVersion="1.4.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<userSettings>
		<EntryDateCopier.Properties.Settings>
			<setting name="GenerationFields" serializeAs="String">
				<value>7</value>
			</setting>
			<setting name="SyncFields" serializeAs="String">
				<value>3</value>
			</setting>
			<setting name="DirectoryOnly" serializeAs="String">
				<value>False</value>
			</setting>
		</EntryDateCopier.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>